/* CSS Variables */
:root {
  /* Colors */
  --color-primary: hsl(192 37% 48%); /* Cyan */
  --color-primary-light: hsl(192 90% 77%);

  --color-secondary: hsl(268 34% 53%); /* Purple */
  --color-secondary-light: hsl(268 100% 86%);

  --color-neutral-dark: hsl(240 21% 20%); /* Slate */
  --color-neutral-medium: hsl(240 10% 57%);
  --color-neutral-light: hsl(240 18% 85%);

  --color-white: hsl(0 0% 98%);

  /* Font sizes */

  --fs-xlarge: 4rem; /* 64px */
  --fs-large: 2.5rem; /* 40px */
  --fs-xmedium: 2rem; /* 32px */
  --fs-medium: 1.125rem; /* 18px */
  --fs-normal: 1rem; /* 16px */

  /* Spacing (based on rem units) */
  --spacing-xxl: 7rem; /* 112px */
  --spacing-xl: 5rem; /* 80px */
  --spacing-lg: 4.5rem; /* 72px */
  --spacing-md: 4rem; /* 64px */
  --spacing-sm: 3.5rem; /* 56px */
  --spacing-xs: 2.5rem; /* 40px */
  --spacing-xxs: 2rem; /* 32px */
  --spacing-xxxs: 1.5rem; /* 24px */
  --spacing-tight: 1rem; /* 16px */
  --spacing-tighter: 0.5rem; /* 8px */
  --spacing-ultra-tight: 0.25rem; /* 4px */
}

/* Typography */

@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/red-hat-display-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/red-hat-display-v19-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Red Hat Display";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/red-hat-display-v19-latin-500.woff2") format("woff2");
}

/* utility classes */

.button {
  border-radius: 1.813rem;
  width: 12.063rem;
  height: 3.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  color: var(--color-white);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main content */

body {
  font-family: "Red Hat Display";
  font-weight: 900;
}

.main-content {
  max-width: 90rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 4.75rem;
}

.section__image {
  min-width: 26.25rem;
}

section {
  width: 19.063rem;
  margin-top: var(--spacing-md);
  row-gap: 3rem;
}
.section__text {
  text-align: center;
  row-gap: var(--spacing-xxxs);
}

.section__title {
  font-size: var(--fs-large);
  font-weight: 900;
  color: var(--color-neutral-dark);
}

p {
  line-height: 1.5;
  color: var(--color-neutral-medium);
}

.group-buttons {
  align-items: center;
  row-gap: var(--spacing-tight);
}

.button--download:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.button--download:hover .button__version {
  color: var(--color-primary);
}

.button--download {
  background-color: var(--color-primary);
}

.button--info:hover {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}

.button--info {
  width: 10.063rem;
  background-color: var(--color-secondary);
}

.button__version {
  color: var(--color-primary-light);
}

/* Section marker number */

.section__start-container {
  width: 3.5rem;
  height: 8.5rem;
}

.vertical-line {
  height: 5rem;
  width: 0.063rem;
  background-color: var(--color-neutral-light);
}

.circle {
  border: 1px solid var(--color-neutral-light);
  border-radius: 50%;
  width: var(--spacing-sm);
  height: var(--spacing-sm);
}

.number {
  color: var(--color-neutral-medium);
  font-weight: 900;
}

.section--info {
  row-gap: var(--spacing-md);
  margin-bottom: var(--spacing-md);
}

.section__image-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-tight);
  margin: 0;
}
.section__image-block img {
  border-radius: 8%;
}

.section__second-title {
  gap: var(--spacing-tight);
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 4px;
  color: var(--color-primary);
}
.section__subtitle {
  font-size: var(--fs-xmedium);
  color: var(--color-neutral-dark);
  letter-spacing: normal;
}
.section__seperation {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-tight);
}

.section__caps {
  text-transform: uppercase;
}

.section__text-second {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xxs);
}

.section__start-container-second {
  position: relative;
  bottom: -1.75rem;
  z-index: 4;
}
.circle-two {
  background-color: var(--color-white);
}

.footer__background {
  background: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)),
    url(../assets/tablet/image-footer.jpg) center / cover no-repeat;
}

.footer__group {
  text-align: center;
  padding: var(--spacing-md) var(--spacing-xxs);
  row-gap: var(--spacing-xxxs);
}

.footer__title {
  font-size: var(--fs-xmedium);
  font-weight: 900;
  color: var(--color-white);
}

.footer__description {
  line-height: 1.5;
  font-weight: 500;
  color: var(--color-white);
}

.button--bottom:hover .button__version {
  color: var(--color-secondary);
}

.button--bottom:hover {
  background-color: var(--color-secondary-light);
  cursor: pointer;
}

.button--bottom {
  background-color: var(--color-secondary);
  width: 12.063rem;
}

@media screen and (min-width: 25.625rem) {
  .main-content {
    min-width: 48rem;
  }

  .section {
    width: 48rem;
  }

  .section--hero {
    width: 51.375rem;
  }

  .section__title {
    font-size: 2.9rem;
  }

  .section__text {
    width: 30.5rem;
  }

  .group-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.063rem;
  }

  .section--info {
    width: 42.5rem;
  }

  .section__image-block {
    display: flex;
    flex-direction: row;
    width: 23%;
  }

  .footer__background {
    background: linear-gradient(
        rgba(77, 150, 168, 0.9),
        rgba(77, 150, 168, 0.9)
      ),
      url(../assets/desktop/image-footer.jpg) center / 100vw no-repeat;
  }

  .footer__group {
    padding: 4rem 8.25rem;
  }

  .section__second-title {
    font-size: 0.875rem;
  }

  .section__subtitle .footer__title {
    font-size: 2.25rem;
  }

  /* Desktop 1440 */
  @media screen and (min-width: 90rem) {
    .hide-image {
      display: none;
    }

    .section--hero {
      flex-direction: row;
    }

    .section__text {
      padding: var(--spacing-xxxs) var(--spacing-xxs);
    }

    .section__text-second {
      padding: 0 1.906rem;
    }

    .section__description .footer__description {
      font-size: var(--fs-medium);
    }

    .section__caps {
      font-size: var(--fs-normal);
    }

    .section__subtitle .footer__title {
      font-size: var(--fs-large);
    }

    .img__left,
    .img__right {
      display: inline-block;
      width: 18.938rem;
      height: 24.625rem;
      background: center / contain no-repeat;
    }

    .img__left {
      margin-left: -7.813rem;
      background-image: url(../assets/desktop/image-hero-left.png);
    }

    .img__right {
      margin-right: -7.813rem;
      background-image: url(../assets/desktop/image-hero-right.png);
    }
    .footer__background {
      background-size: contain;
    }

    .footer__group {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-xxs);
      text-align: start;
      padding: var(--spacing-xxl) 10rem;
    }
  }
}
